<div class="main-footer-area section-padding-100-0">
    <div class="container" id="ft">
        <div class="row">
            <!-- Footer Widget Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="footer-widget mb-100">
                    <p><a href="https://chungchi.edu.vn">
                            <img class="alignnone wp-image-3368"
                                src="http://riam.edu.vn/wp-content/uploads/2019/05/37d624d3143cf162a82d-300x123.png"
                                alt="" width="245" height="100"></a>
                        <a href="https://duhoctop.vn/">
                            <img class="alignnone wp-image-3364 size-medium"
                                src="http://riam.edu.vn/wp-content/uploads/2019/05/logo-dai-300x100.png" alt=""
                                width="300" height="100"></a></p>

                </div>
            </div>
            <!-- Footer Widget Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="footer-widget mb-100">
                    <div class="widget-title">
                        <h6>RIAM TUYỂN SINH 2020</h6>
                    </div>
                    <nav>
                        <ul class="useful-links">
                            <li><a title="Click để vào Tuyển sinh Điều Dưỡng" href="https://dieuduong.edu.vn"
                                    target="_blank" rel="noopener noreferrer">Tuyển sinh ngành Điều Dưỡng</a>
                            </li>
                            <li><a title="Click để vào Tuyển sinh VTTL" href="http://vatlytrilieu.edu.vn"
                                    target="_blank" rel="noopener noreferrer">Tuyển sinh ngành Vật Lý Trị
                                    Liệu</a></li>
                            <li><a title="Click để vào Tuyển sinh YHCT" href="http://yhoccotruyen.edu.vn"
                                    target="_blank" rel="noopener noreferrer">Tuyển sinh ngành Y Học Cổ
                                    Truyền</a></li>
                            <li><a title="Click để vào Tuyển sinh RHM" href="http://ranghammat.edu.vn" target="_blank"
                                    rel="noopener noreferrer">Tuyển sinh ngành Răng Hàm Mặt</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Footer Widget Area -->
            <!-- Footer Widget Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="footer-widget mb-100">
                    <div class="widget-title">
                        <h6>VIỆN NGHIÊN CỨU QUẢN LÝ HÀNH CHÍNH</h6>
                    </div>
                    <div class="single-contact d-flex mb-30">
                        <i class="icon-placeholder"></i>
                        <p>Địa chỉ: 181, Lê Đức Thọ, phường 17, quận Gò Vấp, TP.HCM</p>
                    </div>
                    <div class="single-contact d-flex mb-30">
                        <i class="icon-telephone-1"></i>
                        <p>Fax: 08.62 869333 | Điện thoại: 0936 201 222</p>
                    </div>
                    <div class="single-contact d-flex">
                        <i class="icon-contract"></i>
                        <p>Email: hocvalam24h@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="footer-widget mb-100">
                    <div class="widget-title">
                        <h6>HỢP TÁC</h6>
                    </div>
                    <div class="gallery-list d-flex justify-content-between flex-wrap">
                        <a href="/" class="gallery-img" title="Gallery Image 1"><img src="/img/riam/hoptac/1.jpg"
                                alt=""></a>
                        <a href="./" class="gallery-img" title="Gallery Image 2"><img
                                src="/img/riam/hoptac/lienket-85x85.jpg" alt=""></a>
                        <a href="/" class="gallery-img" title="Gallery Image 3"><img src="/img/riam/hoptac/3.jpg"
                                alt=""></a>
                        <a href="/" class="gallery-img" title="Gallery Image 4"><img src="/img/riam/hoptac/2.png"
                                alt=""></a>
                        <a href="/" class="gallery-img" title="Gallery Image 5"><img src="/img/riam/hoptac/4.jpg"
                                alt=""></a>
                        <a href="/" class="gallery-img" title="Gallery Image 6"><img src="/img/riam/hoptac/5.jpg"
                                alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>