<% if (training.length>0){%>
<%training.map(item=>{%>
<div class="col-12 col-sm-6 col-lg-4 rep1-icon">
    <div class="single-course-area d-flex align-items-center mb-100 wow fadeInUp" data-wow-delay="300ms">
        <div class="course-icon">
            <i class="fa fa-university"></i>
        </div>
        <div class="course-content">
            <a href="/dao-tao/<%= item._id%>">
                <h4><%= item.name%></h4>
            </a>
        </div>
    </div>
</div>
<%})%>
<%}%>